{% extends 'website/base.html' %}
 {% load static %}
 {% block extra_head %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://static.neshan.org/sdk/mapboxgl/v1.13.2/neshan-sdk/v1.1.1/index.css" />

<script src="https://static.neshan.org/sdk/mapboxgl/v1.13.2/neshan-sdk/v1.1.1/index.js"></script>
</script>
 {% endblock %}
           {% block content %}	

			<!-- start banner Area -->
			<section class="relative about-banner">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								ارتباط با ما				
							</h1>	
							<p class="text-white link-nav"><a href="{% url "website:index" %}">خانه </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{% url "website:contact" %}"> ارتباط با ما</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->				  

			<!-- Start contact-page Area -->
			<section class="contact-page-area section-gap">
				<div class="container">
					<div class="row">
						<div id="maps" style="width:100%; height: 445px;" class="mb-5">
							
							
						</div>
						<div class="col-lg-4 d-flex flex-column address-wrap">
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-home"></span>
								</div>
								<div class="contact-details">
									<h5>شهرکرد</h5>
									<p>
										 بلوار رهبر- دانشگاه شهرکرد
									</p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-phone-handset"></span>
								</div>
								<div class="contact-details">
									<h5>۰۳۸۳۲۳۲۴۴۰۱</h5>
									<p>شنبه تا پنجشنبه ساعت 8 تا 4</p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-envelope"></span>
								</div>
								<div class="contact-details">
									<h5>admin@gmail.com</h5>
									<p>پیام های خود را برای ما بگذارید</p>
								</div>
							</div>														
						</div>
						<div class="col-lg-8">
							 
							<form class="form-area contact-form text-right"  action="{%url 'website:contact' %}" method="post">
								{% csrf_token %}
								<div class="row">	
									<div class="col-lg-6 form-group">
										<input name="name"  style='direction:rtl;text-align:right;' placeholder="نام خود را وارد کنید" onfocus="this.placeholder = ''" onblur="this.placeholder = 'نام خود را وارد کنید'" class="common-input mb-20 form-control" required="" type="text">
									
										<input name="last_name" style='direction:rtl;text-align:right;' placeholder="نام خانوادگی را وارد کنید" onfocus="this.placeholder = ''" onblur="this.placeholder = 'نام خانوادگی را وارد کنید'" class="common-input mb-20 form-control" required="" type="text">

										<input name="phone_number" style='direction:rtl;text-align:right;' placeholder="شماره موبایل خود را وارد کنید" onfocus="this.placeholder = ''" onblur="this.placeholder = 'شماره موبایل خود را وارد کنید'" class="common-input mb-20 form-control" required="" type="number">

										<input name="email" placeholder="test@gmail.com" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'test@gmail.com'" class="common-input mb-20 form-control" required="" type="email">

										<input name="subject" style='direction:rtl;text-align:right;' placeholder="موضوع" onfocus="this.placeholder = ''" onblur="this.placeholder = ' موضوع'"  class="common-input mb-20 form-control" required="" type="text">
									</div>
									<div class="col-lg-6 form-group"  >
										<textarea class="common-textarea form-control" name="massage" style='direction:rtl;text-align:right;' placeholder="پیام خود را بنویسید" onfocus="this.placeholder = ''" onblur="this.placeholder = 'پیام را وارد کنید'" required="" height="200"></textarea>				
									</div>
									<div class="col-lg-12">
										<div class="pb-3">
											{{form.captcha}}
										</div>
										<div class="alert-msg" style="text-align: left;"></div>
										<button class="genric-btn primary" type="submit" style="float: right;">ارسال پیام</button>											
									</div>
								</div>
								
							</form>	
							
						</div>
					</div>
				</div>	
			</section>
			<!-- End contact-page Area -->

{% endblock %}
{% block script %}
<script>
	const neshanMap = new nmp_mapboxgl.Map({
		mapType: nmp_mapboxgl.Map.mapTypes.neshanVector,
		container: "maps",
		zoom: 11,
		pitch: 0,
		center: [50.82292475656962,32.35452852141381],
		minZoom: 2,
		maxZoom: 21,
		trackResize: true,
		mapKey: "web.d9d1a59dc8bf4 e6784b1427b9adf83a4",
		poi: true,
		traffic: true,
		mapTypeControllerStatus: {
			show: true,
			position: 'bottom-left'
		}
	});
	var marker = new nmp_mapboxgl.Marker()
	
            .setLngLat([50.82292475656962,32.35452852141381])
            .addTo(neshanMap);
	</script>
{% endblock script %}

