{% extends 'website/base.html' %}
 {% load static %}

           {% block content %}	
			<!-- start banner Area -->
			<section class="relative about-banner">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								ارتباط با ما				
							</h1>	
							<p class="text-white link-nav"><a href="{% url "website:index" %}">خانه </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{% url "website:contact" %}"> ارتباط با ما</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->				  

			<!-- Start contact-page Area -->
			<section class="contact-page-area section-gap">
				<div class="container">
					<div class="row">
						<div class="map-wrap" style="width:100%; height: 445px;" id="map"></div>
						<div class="col-lg-4 d-flex flex-column address-wrap">
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-home"></span>
								</div>
								<div class="contact-details">
									<h5>شهرکرد دانشگاه دولتی شهرکرد</h5>
									<p>
										شهرکرد- بلوار رهبر- دانشگاه شهرکرد
									</p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-phone-handset"></span>
								</div>
								<div class="contact-details">
									<h5>۰۳۸۳۲۳۲۴۴۰۱</h5>
									<p>شنبه تا پنجشنبه ساعت 8 تا 4</p>
								</div>
							</div>
							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-envelope"></span>
								</div>
								<div class="contact-details">
									<h5>info [at] sku.ac.ir</h5>
									<p>پیام های خود را برای ما بگذارید</p>
								</div>
							</div>														
						</div>
						<div class="col-lg-8">
							 
							<form class="form-area contact-form text-right"  action="{%url 'website:contact' %}" method="post">
								{% csrf_token %}
								<div class="row">	
									<div class="col-lg-6 form-group">
										<input name="name"  style='direction:rtl;text-align:right;' placeholder="نام خود را وارد کنید" onfocus="this.placeholder = ''"  class="common-input mb-20 form-control" required="" type="text">
									
										<input name="last_name" style='direction:rtl;text-align:right;' placeholder="نام خانوادگی را وارد کنید" onfocus="this.placeholder = ''"  class="common-input mb-20 form-control" required="" type="text">

										<input name="phone_number" style='direction:rtl;text-align:right;' placeholder="شماره موبایل خود را وارد کنید" onfocus="this.placeholder = ''"  class="common-input mb-20 form-control" required="" type="number">

										<input name="email" placeholder="test@gmail.com" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" required="" type="email">

										<input name="subject" style='direction:rtl;text-align:right;' placeholder="موضوع" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter subject'" class="common-input mb-20 form-control" required="" type="text">
									</div>
									<div class="col-lg-6 form-group"  >
										<textarea class="common-textarea form-control" name="massage" style='direction:rtl;text-align:right;' placeholder="پیام خود را بنویسید" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Messege'" required="" height="200"></textarea>				
									</div>
									<div class="col-lg-12">
										<div class="pb-3">
											{{form.captcha}}
										</div>
										<div class="alert-msg" style="text-align: left;"></div>
										<button class="genric-btn primary" type="submit" style="float: right;">ارسال پیام</button>											
									</div>
								</div>
								
							</form>	
							
						</div>
					</div>
				</div>	
			</section>
			<!-- End contact-page Area -->

{% endblock %}
