{% extends 'website/base.html' %}
{% load static %}

{% block content %}
  <!-- start banner Area -->
  <section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
      <div class="row fullscreen align-items-center justify-content-between">
        <div class="col-lg-6 col-md-6 banner-left">
          <h6 class="text-white">زندگی بهتر</h6>
          <h1 class="text-white d-flex justify-content-center">تکنولوژی های جادویی</h1>
          <p class="text-white">زندگی راحت تر.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->

  <!-- Start popular-destination Area -->
  <section class="popular-destination-area section-gap">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-8">
          <div class="title text-center">
            <h1 class="mb-10">گوشی های برتر دنیا</h1>
            <p>شرکت ها در رقابت بهترین گوشی موبایل از سمت مردم.</p>
          </div>
        </div>
      </div>
      <div class="row">
        {% for post in posts %}
        <div class="col-lg-4">
          
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid" src="{{ post.image.url }}" alt="" />
            </div>
            <div class="desc">
              <a href="/blog/{{ post.id }}" class="price-btn"> اطلاعات بیشتر </a>
              <h4>{{post.page_titel}}</h4>
              <p>{{ post.brand }}</p>
            </div>
          </div>
          
        </div>
        {% endfor %}
        <!--<div class="col-lg-4">
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid" src="{% static 'img/dd2.jpg' %}" alt="" />
            </div>
            <div class="desc">
              <a href="#" class="price-btn">$1200</a>
              <h4>iphone 15 pro max</h4>
              <p>apple</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single-destination relative">
            <div class="thumb relative">
              <div class="overlay overlay-bg"></div>
              <img class="img-fluid" src="{% static 'img/dd3.jpg' %}" alt="" />
            </div>
            <div class="desc">
              <a href="#" class="price-btn">$350</a>
              <h4>poco x3</h4>
              <p>xiaomi</p>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </section>
  <!-- End popular-destination Area -->

  <!-- Start other-issue Area -->
  <section class="other-issue-area section-gap">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-9">
          <div class="title text-center">
            <h1 class="mb-10">دیگر تکنولوژی های مورد استفاده</h1>
            <p>تکنولوژی هایی که  به وجود اومدن تا رندگی رو برای ما اسونتر کنند</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="single-other-issue">
            <div class="thumb">
              <img class="img-fluid" src="{% static 'img/oo1.jpg' %}" alt="" />
            </div>
            <a href="#"><h4>هندزفری</h4></a>
            <p>لذت بهتر از صدای موسیقی </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-other-issue">
            <div class="thumb">
              <img class="img-fluid" src="{% static 'img/ooo2.jpg' %}" alt="" />
            </div>
            <a href="#"><h4>ساعت هوشمند</h4></a>
            <p>همه چیز در دستان شماست.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-other-issue">
            <div class="thumb">
              <img class="img-fluid" src="{% static 'img/oo3.jpg' %}" alt="" />
            </div>
            <a href="#"><h4>عینک واقیعت مجازی</h4></a>
            <p>دنیایی جذاب تر و با اطلاعات تر.</p>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  <!-- End other-issue Area -->

  <!-- Start home-about Area -->
  <section class="home-about-area">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-end">
        <div class="col-lg-6 col-md-12 home-about-left">
          <h1>
            تکنولوژی هوش مصنوعی چیست؟ <br />
            
          </h1>
          <p>سان‌ها می‌توانند صحبت کنند و بشنوند و ارتباط برقرار کنند. این را از طریق زبان انجام می‌دهند. تشخیصِ ساختارِ زبانی یا speech recognition در دل یک تکرارِ مکرر از یادگیری‌ها رشد می‌کند. همانطور که مثلاً انسان با تکرار چندین بارۀ واژه سیب و دیدن سیب می‌فهمد که سیب چیست، کامپیوترها هم قادر به این کار هستند. هم اکنون شما می‌توانید با اکثر گوشی‌های هوشمند به صورت صوتی ارتباط برقرار کنید. در واقع شما دستور را می‌گویید و دستگاه اجرا می‌کند. حتماً تجربه چنین موضوعی را داشته‌اید.</p>
        </div>
        <div class="col-lg-6 col-md-12 home-about-right no-padding">
          <img class="img-fluid" src="{% static 'img/about-imgg.jpg' %}" alt="" />
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}
