{% load static %}

<div class="single-sidebar-widget user-info-widget">
    <img src="{% static 'img/blog/user-infoo.png' %}" alt="" />
    <a href="#"><h4>استیو جابز</h4></a>
    <p>موسس اپل</p>
    <ul class="social-links">
      <li>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-github"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-behance"></i></a>
      </li>
    </ul>
    <p dir="rtl">«در ۳۳ سال اخیر، هر روز صبح به آینه خیره شدم و از خودم پرسیدم که اگر امروز آخرین روز زندگی‌ام باشد، همان کاری را که تا الان می‌خواستم انجام دهم، ادامه خواهم داد یا نه؟ هر زمان که پاسخ این سؤال در چند روز متوالی منفی می‌شد، می‌دانستم که باید چیزی را تغییر دهم.» <br >

      این یکی از معروف‌ترین جملات استیو جابز است. جابز که یکی از پایه‌گذاران ارزش‌مندترین برند دنیا محسوب می‌شود، شخصیتی کاریزماتیک، سخت‌گیر و هدف‌مند داشت و اصلِ پویایی را به استراتژی اپل تزریق کرد. تغییرات اپل در دوران رهبری جابز به حدی زیاد بود که این شرکت همین‌حالا هم میلیاردها دلار از درآمد سالانه‌اش را مدیون ایده‌های جابز است.
    </p>
  </div>